
<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/WordCup.png">
      </div>
    </a>
    <a  class="simple-text logo-normal">
      DohaHotels
    </a>
  </div>
    <ul class="nav">
        <li routerLinkActive="active" class="active">
            <a href="#/dashboard">
                <i class="nc-bank nc-icon"></i>
                <p>Dashboard</p>
            </a>
        </li>
    </ul>
</div>
